<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
  </head>
  <body>
    <%- include('./partials/nav') %> hello, <%= JSON.stringify(user) %>
    <%-include('./partials/scripts') %>
  </body>
</html>
